.create__project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 357px;
  height: 294px;
  padding: 1.5rem;  
  flex-direction: column;
  gap: var(--spacing-2, 8px);
  background: #FAFAFA;
  border-radius: 12px;
  transition: all 200ms ease-in-out;
  box-shadow: none;

  &:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 1px 2px 3px #6B6B6B;

    > img {
      transform: rotate(90deg);
    }
  }


  img {
    height: 45px;
    width: 45px;
    border: 1px solid #6B6B6B;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 2rem;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    h1 {
      font-size: 1.3rem;
      font-weight: 500;
    }

    p {
      font-size: 0.9rem;
      font-weight: 600;
      text-align: center;
    }
  }
}