@use '../../../../styles/partials/global' as *;
@use '../../../../styles/partials/variables' as *;
@use '../../../../styles/partials/typography' as *;
@use '../../../../styles/partials/mixins' as *;

.projects {
  padding: 20px;
  background-color: $MVP-white;
  @include box-shadow($MVP-black);

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__list {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__project {
    width: 15rem;
    padding-bottom: 0.5rem;
    background-color: $MVP-yellow;
    @include box-shadow($MVP-black);
    border-radius: 0.5rem;
    text-align: center;
    // margin-bottom: 20px;

    &--thumbnail {
      width: 100%;
      height: 150px;
      background-color: #e0e0e0;
      margin-bottom: 10px;
      overflow: hidden;
    }
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(80%);
      transition:
        filter 0.5s ease-in-out,
        transform 0.5s ease-in-out;
    }

    &:hover &--thumbnail &--img {
      filter: grayscale(0%) brightness(1.2);
      transform: scale(1.05);
    }

    &--name {
      font-size: 18px;
      font-weight: bold;
    }

    &--description {
      font-size: 14px;
      color: #666;
    }
  }
}
