@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/_global" as *;

.marketplace-container {
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
  background-color: $MVP-cream;
}

.marketplace-content {
  background-color: $MVP-cream;
  padding: 1.5rem;
  grid-column: span 3;
}

.marketplace-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.job-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  width: 100%;
}
