@use './typography' as *;

* {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
  font-family: 'Gilroy', sans-serif;
}
