@use './variables' as *;

// Breakpoints

@mixin tablet-breakpoint {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin max-desktop-breakpoint {
  @media (min-width: $max-desktop-screen) {
    @content;
  }
}

// Backgrounds

@mixin background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin logo-cover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

// Flexbox  Mixins

@mixin flex-direction($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-default($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

// Box Model Mixins

@mixin box($width, $height) {
  width: $width;
  height: $height;
}

// Box Shadow Mixin
@mixin box-shadow($color) {
  box-shadow:
    0 4px 6px rgba($color, 0.1),
    0 1px 7px rgba($color, 0.08);
}

// Border Mixin

@mixin component-border {
  border-top: 3px solid #000;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  border-left: 3px solid #000;
}

@mixin tab-border {
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-left: 3px solid #000;
}
