@font-face {
  font-family: "Corben";
  src: url("/fonts/corben/corben-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Corben";
  src: url("/fonts/corben/corben-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/gilroy-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/corben/corben-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
