//SCREEN BREAKPOINTS

$min-mobile-screen: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-desktop-screen: 1920px;

// TEXT & COLOR STYLES

$regular-txt: 400;
$demi-txt: 500;
$bold-txt: 600;
