@use '../../../../styles/partials/global' as *;
@use '../../../../styles/partials/variables' as *;
@use '../../../../styles/partials/typography' as *;
@use '../../../../styles/partials/mixins' as *;

.bio {
  height: 3.75rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $MVP-white;
  width: 100%;
  height: 100%;
  @include component-border;

  &__title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__content {
    font-size: 1rem;
    line-height: 1.5rem;
    gap: 0.5rem;
    color: #4b5563;
    display: flex;
    align-items: center;

    img.bio__photo {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 0.75rem;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
