.c_project-form {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    z-index: 10;
  }
  
  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    height: 40rem;
    width: 40rem;
    opacity: 1;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 20;
    gap: 1rem;

    header {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: flex-end;

      width: 100%;
    }

    &-body{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;

      &__content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 1rem;
          width: 17rem;
          height: 100%;

        .modal__content {

          &-steps {
            font-size: 1rem;
            font-family: 'Gilroy';
            font-weight: 500;
            color: #858585;
          }

          &-title {
            font-size: 2.2rem;
            line-height: 1;
          }

          &-description {
            p {
              font-size: 1rem;
              font-family: 'Gilroy';
              font-weight: 400;
              color: #858585;
              line-height: 1.2;
            }
          }
        }
      }

      &__form {
        width: 20rem;
        height: 100%;
        padding-inline: 1rem;

        form {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          height: 100%;

          .form-item {
            margin-top: 1.5rem;
            label {
              font-size: 1.2rem;
            }
  
            input {
              border: 1px solid #858585;
              height: 2.5rem;
              border-radius: 0.5rem;
              width: 100%;
              padding: 0.5rem;
            }

            p {
              font-size: 0.8rem;
              font-weight: 400;
              color: #858585;
            }
          }
        }
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      width: 100%;

    }
  }
}

