@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
  font-family: 'Gilroy', sans-serif;
}
