.form__summary {
  width: 20rem;
  height: 25rem;
  overflow-y: scroll;

  &-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
    width: 100%;
  }

  &-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    &__item {
      width: 100%;
      h3 {
        font-weight: 400;
      }
      p {
        font-weight: 600;
        font-size: 0.9rem;
      }
    }
  }
}