$col-red: #FF7070;
$col-white: #ffffff;
$col-black: #000000;
$col-cream: #FFF9F4;
$col-yellow: #FFD22F;
$col-dark-blue: #0954B0;
$col-light-blue: #0099FF;

$z-indexes: (
  'noscript',
  'preloader',
  'cursor',
  'navigation',
  'content',
  'canvas',
  '4',
  '3',
  '2',
  '1'
);

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
