@use "../../../../styles/partials/global" as *;
@use "../../../../styles/partials/variables" as *;
@use "../../../../styles/partials/typography" as *;
@use "../../../../styles/partials/mixins" as *;

.skills-card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $MVP-white;
  @include box-shadow($MVP-black);
  margin-bottom: 1rem;

  &__title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__skill {
    background-color: #e2e8f0;
    padding: 0.5rem 1rem;

    border: 0.1rem solid black;
    border-radius: 0.5rem;
  }
}
