@use '../../../../styles/partials/global' as *;
@use '../../../../styles/partials/variables' as *;
@use '../../../../styles/partials/typography' as *;
@use '../../../../styles/partials/mixins' as *;

.profile-card {
  display: flex;
  justify-content: space-between;
  border: 0.3rem solid $MVP-black;
  padding: 1rem;
  background-color: $MVP-light-blue;
  @include component-border;
  width: 100%;
  height: 100%;

  &__content {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__picture {
    width: 13rem;
    height: 13rem;
    max-width: 100%;
    max-height: 100%;
    margin-top: 1rem;
    background-color: grey;
    border-radius: 50%;
  }
  // &__details {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   // gap: 1rem;
  // }
  &__name {
    font-size: 1.25rem;
    font-weight: $bold-txt;
    color: $MVP-black;
  }

  &__title,
  &__email,
  &__linkedin,
  &__github,
  &__portfolio {
    color: $MVP-black;
    display: flex;
    gap: 0.5rem;
  }
  &__tagline {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $MVP-black;
  }

  &__logo {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__social-links {
    width: 90%;

    background-color: $MVP-white;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    margin-top: 0.5rem;

    &__social-link {
      cursor: pointer;
    }
  }
}
