@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.c_skillshare {
  background-color: $MVP-cream;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem;
  gap: 2rem;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__buttons {
      display: flex;
      border-radius: 12px;
      background: #ffffff;
      color: #6b6b6b;
      border: 2px solid #000;
      overflow: hidden;

      button {
        padding: 9px 32px;
      }

      .provider-active {
        font-size: 1rem;
        background-color: #0954b0;
        color: #fff;
      }

      .seeker-active {
        font-size: 1rem;
        background-color: #0954b0;
        color: #fff;
      }
    }
  }

  &-search {
    width: 100%;
  }

  &-projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    &__title {
      h2 {
        color: #000;
        font-family: 'Gilroy';
        font-size: 32px;
        font-weight: 400;
        line-height: 150%; /* 30px */
        letter-spacing: -0.22px;
      }
    }
  }
  &-projects-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
