@use '../../../../styles/partials/global' as *;
@use '../../../../styles/partials/variables' as *;
@use '../../../../styles/partials/typography' as *;
@use '../../../../styles/partials/mixins' as *;

.project-card {
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 22.2rem;
  @include component-border;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;

  background-color: $MVP-white;

  &__thumbnail {
    @include component-border-light;
  }
  &__image {
    width: 24.6875rem;
    height: 10rem;
    @include component-border;
    border-radius: 2px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: $MVP-dark-gray;
  }

  &__description {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    height: calc(1.5em * 3);
    color: $MVP-dark-gray;
  }

  &__category {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding: 0.3rem 0.6rem;
    background-color: $MVP-yellow;
    color: $MVP-black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: inline-block;
  }

  &__skills {
    font-size: 0.9rem;
    color: $MVP-dark-gray;
    border-top: 1px solid $MVP-medium-gray;
    border-bottom: 1px solid $MVP-medium-gray;
    padding: 1rem 0;

    strong {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
  &__skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  &__skill-tag {
    background-color: $MVP-light-blue;
    padding: 0.3rem 0.6rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 0.85rem;
    color: $MVP-black;
  }

  &__stage {
    margin-top: 1rem;

    strong {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  &__stage-status {
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 80%;
    text-align: center;
    cursor: pointer;
    background-color: $MVP-dark-gray;
    color: $MVP-white;

    // Dropdown styling
    select {
      padding: 0.5rem;

      border-radius: 4px;
      font-size: 0.85rem;
      background-color: inherit;
      color: inherit;
      border: none;
      appearance: none;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    &.status-0 {
      background-color: $MVP-light-blue;
    }

    &.status-1 {
      background-color: $MVP-yellow;
    }

    &.status-2 {
      background-color: green;
    }
  }
}
