@font-face {
  src: url('/src/fonts/corben/corben-regular.woff2') format ('woff2');
  font-family: $font-corben;
  font-weight: 500;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
}

@font-face {
  src: url('/src/fonts/corben/corben-bold.woff2') format ('woff2');
  font-family: $font-corben;
  font-weight: 700;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Bold';
}

@font-face {
  src: url('/src/fonts/gilroy/gilroy-extrabold.woff2') format ('woff2');
  font-family: $font-gilroy;
  font-weight: 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Extra Bold';
}

@font-face {
  src: url('/src/fonts/gilroy/gilroy-light.woff2') format ('woff2');
  font-family: $font-gilroy;
  font-weight: 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Light';
}
