@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/public/fonts/Inter-Regular.woff2') format ('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/public/fonts/Inter-Medium.woff2') format ('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/public/fonts/Inter-Bold.woff2') format ('woff2');
}
